
*{
  box-sizing:border-box;
}
html{
  height:100%;
}
body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(180deg, #3a1c70, #d76d77, #ffaf7b);
  color:black;
}
.button{
  background: rgba(255,255,255,.2);
  color: black;
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 6px;
  outline: none;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid grey;
  background: white;
  color: #3a1c71;
  padding: 0px 10px;
  font-family: roboto;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrap{
  display: flex;
  justify-content: left;
}

.logo{
  height: 24px;
  margin-right: 10px;
}

.bottom-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(255,255,255,.3);
}

.camera-button{
  display: flex;
  position: absolute;
  left: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  background: #d76d77;
  opacity: 90%;
  border: 1px solid #d76d77;
  border-radius: 40px;
  font-size: 18px;
  text-align: center;
}

.text-input{
  position: absolute;
  width: calc(100% - 90px);
  height: 30px;
  background: white;
  top: 5px;
  left: 45px;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.send{
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  background: #d76d77;
  opacity: 90%;
  border: 1px solid #d76d77;
  border-radius: 40px;
}

.send-img{
  height: 20px;
  position: absolute;
  left: 3px;
  top: 4px;
}

.messages{
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  width: 100vw;
  position: absolute;
  top: 40px;
  left: 0px;
  text-align: right;
}

.message-wrap{
  width:100%;
  display:flex;
  justify-content: flex-start;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.message{
  position: relative;
  margin-top:10px;
}

.msg-text{
  color: black;
  background:white;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  display: inline-block;
}

.msg-name{
  font-size:11px;
  position:absolute;
  top:-9px;
  margin-left: 5px;
  margin-right: 5px;
}

.edit-username{
  display: flex;
  align-items: center;
}

.name-input{
  height: 25px;
  background: rgba(212, 212, 212, 0.5);
  top: 5px;
  left: 5px;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.name-button{
  height: 30px;
  width: 30px;
  opacity: 90%;
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  font-size: 18px;
  padding: 4px;
}

.name-button:hover{
  background: rgba(212, 212, 212, 0.5);
}

.username{
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-size: 12 px;
}